<%= form_for(@product) do |f| %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<br>
<div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<br>
<div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>
<br>
<div class="field">
  <%= f.label :inventory_count %>
  <%= f.text_field :inventory %>
</div>
<br>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>

